extends layout

block content
  .page-header
    h2 Registration
    div(class='alert alert-info', role='alert') 
      h3 Use English only

    h4 Early bird Registration Deadline : Dec 15, 2017 (Fri.) 
    h4 결제 금액 환불 및 취소는 불가하므로 신중히 결제하여 주시기 바랍니다.
    h4 Registration fee for foreign A3 participants will be exempted

  - var email_addr = user.email;
  form.form-horizontal(id='registration-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='paymentImpUId')
    input(type='hidden', name='paymentMctUId')
    input(type='hidden', name='isPaid')
    input(type='hidden', id='email', name='email', value=email_addr)
    .form-group
      label(class='col-sm-3 control-label', for='email-label') Email
      .col-sm-9
        label(class='col-sm-3 control-label', id='email-label') #{email_addr}
    .form-group
      label(class='col-sm-3 control-label', for='name') Name
      .col-sm-9
        input.form-control(type='text', name='name', id='name', placeholder='required', required)
    .form-group
      label(class='col-sm-3 control-label') Lives in Korea
      .col-sm-9
        .form-check
          label(class='form-check-label')
            input(class='form-check-input', type='checkbox', name='inKorea', id='livesInKorea', checked=inKorea)
    .form-group(class='korean-only')
      label(class='col-sm-3 control-label', for='mobile') Mobile
      .col-sm-9
        input.form-control(type='text', name='mobile', id='mobile', placeholder='for Koreans only')
    .form-group
      label(class='col-sm-3 control-label', for='nationality') Nationality
      .col-sm-9
        input.form-control(type='text', name='nationality', id='nationality', placeholder='required', required)
    .form-group
      label(class='col-sm-3 control-label', for='affiliation') Affiliation
      .col-sm-9
        input.form-control(type='text', name='affiliation', id='affiliation')
    .form-group
      label(class='col-sm-3 control-label', for='position') Position
      .col-sm-9
        input.form-control(type='text', name='position', id='position')
    .form-group
      label(class='col-sm-3 control-label', for='advisor') Adivisor
      .col-sm-9
        input.form-control(type='text', name='advisor', id='advisor')
    .form-group
      .col-sm-offset-3.col-sm-9
        button.btn.btn-primary(type='submit')
          i.fa.fa-envelope
          | Send
